<footer class="footer py-5 bg-cyan">
<div class="container">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">О команде</a></li>
    <li class="nav-item"><a href="#campaigns" class="nav-link px-2 text-body-secondary">Кому мы помогаем</a></li>
    <li class="nav-item"><a href="#assistance" class="nav-link px-2 text-body-secondary">Как именно помогаем</a></li>
    <li class="nav-item"><a href="#testimonials" class="nav-link px-2 text-body-secondary">Отзывы</a></li>
    <li class="nav-item"><a href="#faq" class="nav-link px-2 text-body-secondary">FAQ</a></li>
    <li class="nav-item"><a href="#contacts" class="nav-link px-2 text-body-secondary">Контакты</a></li>
  </ul>

    <div class="row footer-text">
      <div class="col-12 col-md text-center text-md-left nav-link text-white">Волонтерская команда Сахарова - проект, 2023</div>
    </div>
</div>

  <!-- JavaScript and dependencies -->

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.RelPermalink}}" defer></script>
  <script>
  let mybutton = document.getElementById("btn-back-to-top");
  
  window.onscroll = function () {
    scrollFunction();
  };
  
  function scrollFunction() {
    if (
      document.body.scrollTop > 100 ||
      document.documentElement.scrollTop > 100
      ) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    mybutton.addEventListener("click", backToTop);
    function backToTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const offcanvasLinks = document.querySelectorAll('.nav-link');
    const offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasNavMain'));
    offcanvasLinks.forEach(function (link) {
      link.addEventListener('click', function () {
        offcanvas.hide();
      });
    });
  });
  </script>
</footer>