  <header class="navbar navbar-expand-lg border-bottom border-2 border-black bg-cyan">
    <div class="container-lg">
      <div class="navbar-brand me-auto fs-2 me-lg-5 ms-3 ms-lg-0" href="/">
        <img src="/icons/1F9B8i.svg" alt="Волонтерская команда Сахарова" class="logovks d-inline-block align-text-top">
      </div>
    <button class="btn btn-link nav-link mx-2 order-3 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavMain" aria-controls="offcanvasNavMain" aria-label="Open main navigation menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="4" y1="8" x2="20" y2="8"></line><line x1="4" y1="16" x2="20" y2="16"></line></svg>
    </button>
    <div class="offcanvas offcanvas-end h-auto" tabindex="-1" id="offcanvasNavMain" aria-labelledby="offcanvasNavMainLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn btn-link nav-link p-0" data-bs-dismiss="offcanvas" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18 6 6 18"></path><path d="M6 6l12 12"></path></svg>
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row justify-content-between">

        {{ partial "menu.html" . }}

    <ul id="socialMenu" class="d-none d-lg-block nav mx-auto flex-row order-lg-4">
      <li class="nav-item">
        <a class="nav-link social-link pe-0" href="https://instagram.com/">
          <img src="/icons/E043.svg" alt="Instagram" width="32" class="d-inline-block align-text-top">
          <small class="ms-2 visually-hidden">Instagram</small>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
</header>