<ul class="navbar-nav fs-5 flex-grow-1">
  <li class="nav-item">
    <a class="nav-link" href="/docs/guides/example-guide/">О нас</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">Кампании</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">Партнеры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">Отзывы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">Контакты</a>
  </li>
</ul>