$cyan: rgb(148, 211, 245);
$success: rgb(176, 204, 51);
$green: rgb(176, 204, 51);
$gold: rgb(252, 234, 44);
$yellow: rgb(252, 234, 44);
$rose: rgb(255, 166, 191);
$red: rgb(255, 166, 191);
$violet: rgb(178, 153, 199);
$primary: rgb(178, 153, 199);
$orange: rgb(241, 181, 30);
$light: rgb(241, 181, 30);
$ogrey: rgb(208, 207, 206);
$secondary: rgb(208, 207, 206);