@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif !important;
  }

.rainbow-gradient {
    background: rgb(219,250,255);
    /* background: linear-gradient(52deg, rgba(219,250,255,1) 0%, rgba(255,255,224,1) 39%, rgba(255,218,241,1) 100%); */
    background: linear-gradient(52deg, rgba(219,250,255,1) 0%, rgba(255,255,255,1) 65%, rgba(218,220,255,1) 100%);
}

.display-7 {
    font-size: 2.1rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}