@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif !important;
  }

.rainbow-gradient {
    background: rgb(219,250,255);
    /* background: linear-gradient(52deg, rgba(219,250,255,1) 0%, rgba(255,255,224,1) 39%, rgba(255,218,241,1) 100%); */
    background: linear-gradient(52deg, rgba(219,250,255,1) 0%, rgba(255,255,255,1) 65%, rgba(219,250,255,1) 100%);
}

.display-7 {
    font-size: 2.1rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.panel-group .panel{
    background-color: transparent;
    border:none;
    box-shadow:none;
    border-radius: 10px;
    margin-bottom:11px;
}
.panel .panel-heading{
    padding: 0;
    border-radius:10px;
    border: none;
}
.panel-heading a{
    padding:20px 60px 20px;
    font-weight:600;
    position: relative;
    box-shadow:none;
    transition:all 0.1s ease 0;
    border: 2px solid black;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
    content: url('../icons/2796.svg');
    text-align: center;
    position: absolute;
    left:-20px;
    top: 14px;
    color:#816d6d !important;
    background-color: $gold;
    border: 2px solid black;
    font-size: 15px;
    width: 60px;
    height: 60px;
    line-height: 30px;
    border-radius: 50%;
    transition:all 0.3s ease 0s;
}
.panel-heading a.collapsed:after{
    content: url('../icons/2795.svg');
}
#accordion .panel-body{
    background-color: transparent;
    line-height: 25px;
    padding: 10px 25px 20px 35px ;
    border-top:none;
    font-size:14px;
    position: relative;
}

#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: none;
    }

.sakharov {
    transform: rotate(1deg);
    img {
        box-shadow: -20px -20px $violet;
    }
}

.bg-cyan {
    background-color: transparentize($cyan, 0.7);
}
.bg-cyan-0 {
    background-color: $cyan;
}
.bg-green {
    background-color: transparentize($green, 0.7);
}
.bg-gold {
    background-color: transparentize($gold, 0.7);
}
.bg-gold-0 {
    background-color: $gold;
}
.bg-rose {
    background-color: transparentize($rose, 0.7);
}
.bg-rose-0 {
    background-color: $rose;
}
.bg-violet {
    background-color: transparentize($violet, 0.7);
}
.bg-orange {
    background-color: transparentize($orange, 0.7);
}
.bg-ogrey {
    background-color: transparentize($ogrey, 0.7);
}
.bg-ogrey-0 {
    background-color: $ogrey;
}

.rocket {
    left: 532px;
    top: 884px;
}