<div class="col pb-5 px-4 mb-sm-0 d-flex" style="transform: rotate({{with .rotation}}{{.}}{{end}}deg);">
    <div class="card rounded-5 border border-2 border-black bg-{{with .background}}{{.}}{{end}}-0 shadow-{{with .shadows}}{{.}}{{end}}">
      <div class="card-body text-center px-4 py-5">
        <h5 class="card-title fs-3 fw-bolder">{{with .ctitle}}{{.}}{{end}}</h5>
        <img src="/logos/{{with .cimage}}{{.}}{{end}}" class="partnerscard {{with .imgy}}{{.}}{{end}}"/>
        <p class="card-text">{{with .cdescription}}{{.}}{{end}}</p>
        <a href="{{with .linkto}}{{.}}{{end}}" target="_blank" role="button" class="btn btn-{{with .btncolor}}{{.}}{{end}} btn-lg rounded-5 border border-dark border-2 fw-bolder">Узнать больше</a>
      </div>
    </div>
  </div>