{{ define "main" }}

<!-- <div class="rainbow-gradient"> -->
  
  <button type="button" class="btn btn-link btn-floating btn-lg" id="btn-back-to-top">
    <img src="./icons/1F53A.svg" width="50">
  </button>

<div class="vh-75 bg-green">
    <div class="container py-5">
        <div class="row align-items-center h-100 pt-5">
            <div class="col-lg-6 col-md-6 mb-5 pb-4">
            <h2 class="fw-medium display-5 mb-4">
                <div class="d-flex flex-row align-items-center">
                    <span class="custom-title me-4 pe-2">Волонтерская</span>
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                    <span class="custom-title ms-4 ps-2">команда</span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="custom-title me-4 pe-2">Сахарова</span>
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                </div>
            </h2>
                <div class="mb-4">
                    <img src="/icons/1F30D.svg" width="70" />
                    <img src="/icons/1F308.svg" width="70" />
                    <img src="/icons/1F917.svg" width="70" />
                    <img src="/icons/262E.svg" width="70" />
                    <img src="/icons/1F3F3-FE0F-200D-26A7-FE0F.svg" class="d-none" width="70" />
                    <img src="/icons/1FAE0.svg" width="70" />
                </div>
                <p class="mb-5 fw-light fs-4">
                    Волонтёрская команда Сахарова – это сообщество людей, которые хотят внести свой посильный вклад в защиту прав человека. Мы помогаем правозащитным организациям, проектам и инициативам с задачами, не требующими профессиональной подготовки или экспертных знаний.
                </p>
                <button type="button" class="btn btn-info btn-lg rounded-0 fs-3 border border-dark border-2">Заполнить анкету <img src="/icons/1F31F.svg" width="38" /></button>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-end">
            <figure class="figure ms-5 ps-5 sakharov">
                <img class="border border-2 border-black rounded-0 w-100 h-auto" src="sakharov1940.jpg" />
                <figcaption class="figure-caption text-center">Андрей Сахаров, 1938-1940 гг.</figcaption>
            </figure>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-rose px-0 border-top border-bottom border-2 border-black">
  <div class="position-absolute rocket"><img src="/icons/1F680.svg" width="180" /></div>
    <div class="row col-6 my-5 mx-auto p-5 border border-2 border-black bg-rose">
      <h2 id="about" class="display-2 text-center fw-bolder pt-4 pb-5">О команде</h2>
      <p class="fs-4 fw-light">Нас объединяют ценности Андрея Дмитриевича Сахарова, который считал, что права человека являются универсальными и неотъемлемыми для всех людей и был убежден в их ключевой роли для поддержания на Земле мира и справедливости.</p>
      <p class="fs-4 fw-light">В нашей команде каждый может найти себе занятие по душе, будь то помощь с конкретными задачами, организация мероприятий или общение с единомышленниками и создание совместных проектов.</p>
      <h3 id="about" class="display-6 text-center fw-bolder pt-2 pb-4">Чем мы занимаемся?</h3>
      <p class="fs-4 fw-light">Обычно мы помогаем нескольким правозащитным организациям одновременно, работая над краткосрочными и долгосрочными задачами — разными по формату и содержанию. Из текущих активностей всегда можно выбрать занятие, которое подходит вам по времени и тематике.</p>
      <p class="fs-4 fw-light">К каждой задаче мы разрабатываем подробные инструкции, а также помогаем по ходу работы, в том числе организуя онлайн-коворкинги. Для более сложных или требующих командной работы задач мы создаем телеграм-чаты, а для более простых — ограничиваемся общением в боте, к которому обязательно нужно подключиться. Это несложно, но требует предварительного знакомства с нашей координаторской командой.</p>
      <p class="fs-4 fw-light">Мы рады проводить время вместе не только выполняя задачи, но и устраивая неформальные встречи. Сейчас мы регулярно видимся на онлайн-терапевтических группах и в книжном клубе, периодически у нас проходят лекции и воркшопы. Мы всегда открыты для новых идей и форматов и с удовольствием поддержим ваши инициативы и задумки!</p>
      <p class="fs-4 fw-light pb-4">Заполняйте волонтёрскую анкету, если хотите присоединиться к нам!</p>
      <div class="text-center pb-4 mb-5"><button type="button" class="btn btn-success btn-lg rounded-0 fs-3 border border-dark border-2">Заполнить анкету <img src="/icons/1F31F.svg" width="38" /></button></div>
    </div>
</div>

<div class="container-fluid bg-gold">
  <div class="row col-6 py-5 mx-auto">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <h2 id="faq" class="display-2 text-center fw-bolder py-5">FAQ</h2>
      <div class="panel panel-default">
        
        {{partial "owns/acc.html" (dict "number" "1" "question" "А кто у вас волонтерит?" "response" "Люди из разных стран, городов, разного возраста и специальностей." "colorb" "92D3F5" "smiles" "d-none") }}
        
        {{partial "owns/acc.html" (dict "number" "2" "question" "Сколько времени у меня будет уходить на волонтерство?" "response" "Это зависит только от вашей занятости и желания. А вообще – задачи бывают разные, могут занять как 20 минут, так и несколько часов" "colorb" "FCEA2B" "smile" "1F60A") }}
        
        {{partial "owns/acc.html" (dict "number" "3" "question" "Как организована отправка задач, а также дедлайн по ним и объем?" "response" "Задачи вы получаете через телеграм-бота, у каждой задачи — свой дедлайн. Все задачки варьируются по времени, которое на них уходит. Есть есть задачи срочные, а есть долгосрочные. Так что it depends!" "colorb" "B399C8" "smiles" "d-none") }}
        
        {{partial "owns/acc.html" (dict "number" "4" "question" "А что если я выпаду на какое-то время? Смогу вернуться?" "response" "Обстоятельства в жизни бывают разные, мы все это понимаем. Если нужна пауза, просто дайте об этом знать. А вернуться можно всегда... во всяком случае, к нам точно." "colorb" "F1B31C" "smiles" "d-none") }}
        
        {{partial "owns/acc.html" (dict "number" "5" "question" "А вдруг я не справлюсь?" "response" "Вы будете помогать с задачами, не требующими специальных знаний. Все, что может предложить Волонтерская команда, вам по силам! Еще у нас есть регулярные терапевтические группы с психологом, на которые можно прийти, если почувствуете в этом необходимость." "colorb" "B1CC33" "smiles" "d-none") }}
        
        {{partial "owns/acc.html" (dict "number" "6" "question" "Если у меня еще нет опыта волонтерства, могу ли я волонтерить у вас?" "response" "Конечно! Наша команда — хорошая точка старта в правозащите" "colorb" "D0CFCE" "smile" "1F60A") }}
        
        {{partial "owns/acc.html" (dict "number" "7" "question" "Что нужно сделать, чтобы стать волонтером?" "response" "Заполнить анкету и поделиться своим контактом с нашим ботом. В нем мы и свяжемся с вами." "colorb" "FFA7C0" "smiles" "d-none") }}
        
        {{partial "owns/acc.html" (dict "number" "8" "question" "Какие навыки вам могут пригодиться?" "response" "Самые разные — никогда не знаешь, какая задачка будет следующей! От дизайна до работы с Википедией — мы будем рады любым навыкам" "colorb" "92D3F5" "smile" "1F60A") }}
      
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

{{ end }}