{{ define "main" }}

<div class="rainbow-gradient vh-100">
    <div class="container pt-4">
        <div class="row align-items-center h-100 pt-5">
            <div class="col-lg-6 col-md-6 mb-5 pb-4">
            <h2 class="fw-medium display-5 mb-4">
                <div class="d-flex flex-row align-items-center">
                    <span class="custom-title me-4 pe-2">Команда</span>
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                    <span class="custom-title ms-4 ps-2">волонтеров</span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="custom-title me-4 pe-2">Сахарова</span>
                    <div style="height: 2px; width: 100%; background-color: #000"></div>
                </div>
            </h2>
                <div class="mb-4">
                    <img src="/icons/1F30D.svg" width="60" />
                    <img src="/icons/1F308.svg" width="60" />
                    <img src="/icons/1F917.svg" width="60" />
                    <img src="/icons/262E.svg" width="60" />
                    <img src="/icons/1F3F3-FE0F-200D-26A7-FE0F.svg" width="60" />
                    <img src="/icons/1FAE0.svg" width="60" />
                </div>
                <p class="mb-5 display-7">
                    Мы объединяем тех, кто хочет помогать правозащитным организациям и инициативам с задачами, не требующими экспертных знаний
                </p>
                <button type="button" class="btn btn-dark btn-lg rounded-0">Заполнить анкету <img src="/icons/1F31F.svg" width="32" /></button>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-end">
            <figure class="figure ms-5 ps-5">
                <img class="border border-2 border-black rounded-4 w-100 h-auto" src="sakharov1940.jpg" />
                <figcaption class="figure-caption text-center">Андрей Сахаров, 1938-1940 гг.</figcaption>
            </figure>
        </div>
        </div>
    </div>
</div>

{{ end }}